body {
    padding: 64px 256px 0;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.post-item {
    display: flex;
    justify-content: space-between;
    color: #adb5bd;

    .arrow-right {
        color: #adb5bd;
        display: inline-block; 
    }

    .post-link {
        text-decoration: none;
        color: #495057;
    }

}
