@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;500;700&display=swap');

:root {
    background: white;
    color: black;
    font-family: 'Mohave', sans-serif;
    font-size: 1.5rem;
    user-select: none;
    -webkit-user-select: none;
    --content-margin: 5rem 25%;
    --a-color: darkgreen;
    --a-color-hover: darkblue;
    --list-item-color: saddlebrown;
}

@media (orientation: portrait) {
    :root {
        --content-margin: 3rem 5%
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
        --a-color: greenyellow;
        --a-color-hover: gold;
        --list-item-color: antiquewhite;
    }
}

a {
    color: var(--a-color);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--a-color-hover);
}

ul {
    list-style-type: square;
}

li li {
    list-style-type: none;
}

address {
    color: var(--list-item-color);
}

.content {
    margin: var(--content-margin);
}

.heading {
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}

.intro {
    font-weight: 500;
    font-size: 1.2rem;
}

.sub-heading {
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color: red;
}

.list-group {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    color: var(--list-item-color);
}

.list-item:not(:last-child) {
    margin-right: 0.5rem;
}

.list-date {
    color: dimgray;
}